name: Test
"on":
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  browser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - name: Use Node.js LTS
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: npm
      - run: npm ci
      - run: npm run build
      - run: npm run test:browser

  deno:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - run: npm ci
      - run: npm run build
      - run: npm run test:deno

  node:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node_version:
          - 18
          - 20
          - 22
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
          cache: npm
      - run: npm ci
      - run: npm run test:node

  summary:
    runs-on: ubuntu-latest
    needs:
      - node
      - deno
      - browser
    steps:
      - run: exit 1
        if: ${{ needs.node.result != 'success' || needs.browser.result != 'success' || needs.deno.result != 'success' }}
      - run: echo ok
    if: ${{ always() }}
